.knowledge {
  list-style: none;
  padding: 0;
}

.item {
  padding-left: 30px;
  border-left: 1px solid;
  margin: 10%;
}


.learning {
display: none;
}

.timeline {
  padding: auto;
  margin: 5%;
}


@media screen and (min-width:768px){
  .learning {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.3rem;
    padding: 10%;
  }

  .item {
    border: none;
    margin: 0;
  }

  .grid {
    padding-top: 10%;
    display: grid;
    grid-gap: 0;
    margin: 10px;

    grid: "one two" 250px 
          "three four" 250px 
          "five  six" 250px
          / 6fr 6fr;
  }

  .item1 {
    grid-area: one;
    padding-top: 30px;
  }
  
  .item2 {
    grid-area: two;
    padding-left: 30px;
    border-left: 1px solid;
  }
  
  .item3 {
    grid-area: three;
  }
  
  .item4 {
    grid-area: four;
    padding-left: 30px;
    border-left: 1px solid;
  }
  
  .item5 {
    grid-area: five;
    padding-bottom: 5%;
  }
  
  .item6 {
    grid-area: six;
    padding-left: 30px;
    border-left: 1px solid;
  }
}